################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UAuction/v16
/packages
/UAuction/obj/Debug
